<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionPRINCIPAL" connectionString="Data Source=JDE-S1456\SQLEXPRESS;Initial Catalog=MOVIMIENTOS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ConexionDB91DTA" connectionString="Data Source=DB91;Application Name=CalManiobraPY;Initial Catalog=JDE_CRP;User ID=CRPDTA;Password=CRPDTA" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="schemaCTL" value="PRODCTL" />
    <add key="schemaDTA" value="PRODDTA" />-->
    <add key="ConexionPRINCIPAL" value="Data Source=JDE-S1456\SQLEXPRESS;Initial Catalog=MOVIMIENTOS;Integrated Security=True" />
    <add key="schemaDTA" value="CRPDTA" />
    <add key="tableName" value="F5542100" />
    <add key="Ambiente" value="PY910" />
    <!--<add key="Ambiente" value="PD910" />-->
    <add key="AplicacionID" value="43" />
    <add key="EventViewerLogName" value="RECORDPY" />
    <add key="CorreosLog" value="lbenavente@gafi.com.mx,mjvillagom@gafi.com.mx,cdperalta@gafi.com.mx" />
    <add key="PuertoSMTP" value="26" />
    <add key="MailHost" value="box1074.bluehost.com" />
    <add key="aspnet:UseLegacyEncryption" value="true" />
    <add key="aspnet:UseLegacyMachineKeyEncryption" value="true" />
    <add key="aspnet:ScriptResourceAllowNonJsFiles" value="true" />
    <!--<add key="temp" value="D:\CMOrdenesCompra/" />-->
    <add key="temp" value="C:\temp/" />
    <add key="Plantilla" value="C:\PlantillasPY/CargaMasivaODC.xlsx" />
    <!--<add key="Plantilla" value="C:\Plantillas/CargaMasivaODC.xlsx"/>-->

  </appSettings>
</configuration>