<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>    
    <add name="ConexionPRINCIPAL" connectionString="Data Source=JDE-S1456\SQLEXPRESS;Initial Catalog=MOVIMIENTOS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ConexionDB91DTA" connectionString="Data Source=DB91;Application Name=CalManiobraPY;Initial Catalog=JDE_CRP;User ID=CRPDTA;Password=CRPDTA" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
